.row
  .col-md-3
    =image_tag('selfportraitlow.jpg', class: 'img-responsive center-block border-blue')
  .col-md-9
    %h2
      %a{ href: 'https://www.facebook.com/peterbarnes213', target: 'blank' } PETER BARNES
      %span.blue /
      PHOTO
      %span.blue /
      VIDEO 
      %span.blue /
      BUSINESS?!?
    %h4 
      %a.blue-link{ href: '/contact' } peterb@intrepidvisuals.com
    %p 
      Hi!&nbsp; My name is Peter Barnes, I am a photographer and videographer from Lincoln, Nebraska!&nbsp; My passion is to deliver the highest quality photo and/or video to my clients, while keeping convience and flexibility as top priorities!&nbsp; I like pizza, cameras, music, videogames, and anything nerdy and/or geeky.&nbsp; I was a software developer, web developer, and a senior in high school when I discovered photography.&nbsp; Ever since I bought my first camera, a Nikon D3200 and a 35mm F1.8, I instantly fell in love with the art.&nbsp; I focused mainly on landscape and event photography, and slowly incorporated portraiture into my portfolio.&nbsp; When someone works with me, they aren't just a client, they are a friend.&nbsp; I always try to make our shoots laid-back and relaxed, because I want all of my friends to be comfortable when we shoot!&nbsp; If you want to shoot with me, or just want to talk, shoot me an 
      %a.blue-link.thick{ href: '/contact' } email!
      