- content_for :title, "Intrepid Visuals // About Us"
- content_for :description, "Intrepid Visuals was founded in 2015, and is based in the midwest.  We focus on photography and videography"
.row
  .col-md-3
    %a{ href: 'https://www.facebook.com/peterbarnes213', target: 'blank' }
      =image_tag('selfportraitlow.jpg', class: 'img-responsive center-block border-blue')
  .col-md-9
    %h2
      %a{ href: 'https://www.facebook.com/peterbarnes213', target: 'blank' } PETER BARNES
      %span.blue /
      PHOTO
      %span.blue /
      VIDEO 
      %span.blue /
      BUSINESS?!?
    %h4.thick
      %a.blue-link{ href: '/contact' } peterb@intrepidvisuals.com
      |
      Snapchat: peterbarnes213
    %p 
      Hi!&nbsp; My name is Peter Barnes, I am a photographer and videographer from Lincoln, Nebraska!&nbsp; I love taking pictures and meeting cool people while I do so!&nbsp; When someone shoots with me, they aren't just a client, they are a friend, and I want to make sure that all of my friends are comfortable and have a good time!&nbsp; 
    %p 
      Other than photo & video I'm into pizza, music, web development, programming, and anything nerdy or geeky!&nbsp; I also love animals. Like a lot. 
    %p
      At the end of the day I just want to photograph cool things whether it be pictures of you or pictures of your dog! 
    %p 
      GEAR I USE:
    %ul
      %li 
        %p 
          %a.thick-about{ href: 'http://www.bhphotovideo.com/c/product/1007545-REG/pentax_15530_k_3_dslr_camera.html', target: 'blank' } Pentax K3 Body w/Grip
      %li 
        %p 
          %a.thick-about{ href: 'http://www.bhphotovideo.com/c/product/983904-REG/sigma_210_109_18_35mm_f1_8_dc_hsm.html', target: 'blank' } Sigma 18-35 F/1.8 Lens
      %li
        %p 
          %a.thick-about{ href: 'http://www.bhphotovideo.com/c/product/824140-REG/SanDisk_SDSDXPA_032G_A75_Extreme_Pro_32_GB.html', target: 'blank' } Sandisk 32gb & 16gb SD Cards
      %li
        %p 
          %a.thick-about{ href: 'http://www.amazon.com/Wasabi-Power-Battery-2-Pack-Charger/dp/B004UR7250/ref=sr_1_2?ie=UTF8&qid=1446800243&sr=8-2&keywords=wasabi+pentax', target: 'blank' } Wasabi DSLR Batteries for Pentax
      %li
        %p 
          %a.thick-about{ href: 'http://www.bhphotovideo.com/c/product/1101196-REG/yongnuo_yn_560iv_yn560_iv_speedlite.html', target: 'blank' } Yongnuo 560IV Flash
      %li
        %p 
          %a.thick-about{ href: 'http://www.bhphotovideo.com/c/product/1109190-REG/yongnuo_yn_560_tx_n_yn560_tx_manual_flash_controller.html', target: 'blank' } Yongnuo 560TX Radio Trigger
      %li
        %p 
          %a.thick-about{ href: 'http://www.amazon.com/PBL-Heavy-Cushioned-Photographic-Lighting/dp/B009POMCGW/ref=sr_1_2?ie=UTF8&qid=1446800687&sr=8-2&keywords=pbl+light+stand', target: 'blank' } PBL 10ft Lightstand
      %li
        %p 
          %a.thick-about{ href: 'http://www.amazon.com/Fotodiox-Premium-Shoot-Through-Translucent-Umbrella/dp/B005ODKMOC/ref=sr_1_26?ie=UTF8&qid=1446800782&sr=8-26&keywords=fotodiox+umbrella', target: 'blank' } Fotodiox 43" Umbrella
      %li
        %p 
          %a.thick-about{ href: 'http://www.apple.com/macbook-air/', target: 'blank' } Macbook Air
      %li
        %p 
          %a.thick-about{ href: 'http://www.wacom.com/en-dk/products/pen-tablets/intuos-draw', target: 'blank' } Wacom Intuos Draw Graphics Tablet
      %li
        %p 
          %a.thick-about{ href: 'http://www.adobe.com/creativecloud.html?sdid=KKQWP&s_kwcid=AL!3085!3!92419849840!e!!g!!adobe%20creative%20cloud&ef_id=Ve6GngAAAPhJog0A:20151106090833:s', target: 'blank' } Adobe Creative Cloud Suite

      