- content_for :title, "Intrepid Visuals - About me!"
- content_for :page_title, "ABOUT"
- content_for :description, "Intrepid Visuals was founded in 2015, and is based in the midwest with a focus on photography and videography"
.row
  .col-md-3.grid.col-md-offset-2
    =image_tag('selfportraitlow.jpg', width: '100%', class: 'img-responsive center-block')
  .col-md-5.grid
    %h4.no-pad.adjust-line Hey! I'm Peter Barnes!
    %h4.no-pad.adjust-line I'm a guy from Lincoln Nebraska and I love what I do. I'm super into photography, videography, and anything creative and fun! I love exploring and discovering new places, and I love shooting at those places even more!
    %h4.no-pad.adjust-line What I can offer to you is a unique and imaginative way to tell your story. I want to show the world your light and your brilliance. I want to show the world "you"! 
    %h4.no-pad.adjust-line I don't expect my clients to be perfect models in front of a camera, in fact it's the exact opposite! I want you to be who you are, and I want to be there to capture it! The only thing I expect from you is to be you, and to bring good vibes. 
    %h4.no-pad.adjust-line I find my inspiration out in nature and in places that just look cool, but at the end of the day I'll have more inspiration if we find a place that is totally you! 
    %h4.no-pad.adjust-line With me there are no set styles or rules. I want to do whatever will produce images that you love, because that means more to me than anything.
    %h4.no-pad.adjust-line The bottom line is that I already think you're super awesome, and I can't wait to show the world your light!
    %h4.no-pad.adjust-line
      %a.blue-link{ href: '/contact' } Let's talk!