.row
  .col-md-3
    =image_tag('selfportraitlow.jpg', class: 'img-responsive center-block border-blue')
  .col-md-9
    %h2
      PETER BARNES 
      %span.blue /
      PHOTO
      %span.blue /
      VIDEO 
      %span.blue /
      BUSINESS?!?
    %h4 
      %a.blue-link{ href: '/contact' } peterb@intrepidvisuals.com
    %p 
      Sed haec quis possit intrepidus aestimare tellus. Unam incolunt Belgae, aliam Aquitani, tertiam. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Etiam habebis sem dicantur magna mollis euismod. Curabitur blandit tempus ardua ridiculus sed magna. Quam diu etiam furor iste tuus nos eludet?
      A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Phasellus laoreet lorem vel dolor tempus vehicula. Ut enim ad minim veniam, quis nostrud exercitation. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Curabitur est gravida et libero vitae dictum.
      At nos hinc posthac, sitientis piros Afros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Nec dubitamus multa iter quae et nos invenerat.