.row
  .col-md-12
    %h1.text-center 
      This page is under construction.  There might be some weird stuff here
.row
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
.row
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  .col-md-3
    %a{ href: '#' }
      =image_tag('url.png', width: '100%', class: 'img-responsive center-block thick-border-blue')
    %h4.pad-bottom.text-center 
      %a{ href: '#' } 
        %i.fa.fa-lock
        JOHN DOE & CARRIE SMITH
  



