- content_for :title, "Intrepid Visuals | Client Galleries"  
- content_for :description, "Intrepid Visuals Client Galleries"  
.row
  %a{ href: '/chelsea_stewart_senior_9_19_15' }
    .col-md-3
      =image_tag('https://farm6.staticflickr.com/5688/21509324978_2a50f996b3_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        CHELSEA STEWART SENIOR
  %a{ href: '/brennan_roberson_senior_9_14_15' }
    .col-md-3
      =image_tag('https://farm6.staticflickr.com/5813/21034122474_7722cb5a71_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        BRENNAN ROBERSON SENIOR
  %a{ href: '/carla_seravalli_senior_9_12_15' }
    .col-md-3
      =image_tag('https://farm6.staticflickr.com/5686/20851841194_1ab288aa20_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        CARLA SERAVALLI SENIOR
  %a{ href: '/eightnlofts_9_10_15' }
    .col-md-3
      =image_tag('https://farm1.staticflickr.com/707/21150039539_d45294103e_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        8N LOFTS
.row
  %a{ href: '/montage_9_2_15' }
    .col-md-3
      =image_tag('https://farm1.staticflickr.com/686/21102917175_197362cb44_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        MONTAGE PHOTOBOOTH
  %a{ href: '/greek_festival_8_29_15' }
    .col-md-3
      =image_tag('https://farm1.staticflickr.com/684/21013685845_9ee16af59b_q.jpg', width: '100%', height: '100%', class: 'img-responsive center-block thick-border-blue')
      %h4.pad-bottom.text-center
        %i.fa.fa-lock 
        GREEK FESTIVAL

  

-# GALLERY TEMPLATE
-#  %a{ href: '/kenzieki_8_18_15' }
-#    .col-md-3
-#      =image_tag('kenziecover.jpg', width: '100%', class: 'img-responsive center-block thick-border-blue')
-#      %h4.pad-bottom.text-center 
-#        %i.fa.fa-lock
-#        KENZIE KI


  



