.row
  .col-md-12
    %h3.text-center.gray No client galleries
      
.row

-# GALLERY TEMPLATE
-#  %a{ href: '/kenzieki_8_18_15' }
-#    .col-md-3
-#      =image_tag('kenziecover.jpg', width: '100%', class: 'img-responsive center-block thick-border-blue')
-#      %h4.pad-bottom.text-center 
-#        %i.fa.fa-lock
-#        KENZIE KI
  



