- content_for :title, "Intrepid Visuals | Event Photography"
- content_for :description, "One of our specialities is event photography.  We have worked with acts such as Falling In Reverse and Modest Mouse, and can guarantee excellect coverage for your event!"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm4.staticflickr.com/3773/20264307628_0e470d1cbf_b.jpg'}
      =image_tag('https://farm4.staticflickr.com/3773/20264307628_0e470d1cbf_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5723/20447035639_f74b010934_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5723/20447035639_f74b010934_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/287/20458534861_7eb7ce002f_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/287/20458534861_7eb7ce002f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5652/20916363320_7e4655e40c_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5652/20916363320_7e4655e40c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5764/20916563668_fde9be3772_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5764/20916563668_fde9be3772_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/467/20264160840_872eec282b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/467/20264160840_872eec282b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/763/20917659719_15c2dd348e_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/763/20917659719_15c2dd348e_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/594/20916559088_f5549881d6_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/594/20916559088_f5549881d6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5640/20916356450_ddee678cb5_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5640/20916356450_ddee678cb5_b.jpg', class: 'img-responsive center-block', width: '100%')