.row
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/630/20565060550_7c8e60740b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/630/20565060550_7c8e60740b_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/299/19890905088_654d749528_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/299/19890905088_654d749528_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/415/20074084601_484fa7c05b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/415/20074084601_484fa7c05b_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/295/19564665571_a3dd1ae4b6_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/295/19564665571_a3dd1ae4b6_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/383/19254272182_0008a11b22_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/383/19254272182_0008a11b22_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/625/20132084103_0d394fc7fe_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/625/20132084103_0d394fc7fe_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm4.staticflickr.com/3697/19209001219_d30b537f92_b.jpg'}
      =image_tag('https://farm4.staticflickr.com/3697/19209001219_d30b537f92_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5650/20171132843_cf5aef854e_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5650/20171132843_cf5aef854e_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/741/20565062000_a88972a68b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/741/20565062000_a88972a68b_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')