- content_for :title, "Intrepid Visuals - Concerts"
- content_for :page_title, "CONCERTS"
- content_for :description, "Shooting concerts is how I developed my skill as a photographer.  I've been a part of my local scene for years, and concert photography seemed like my way of giving back.  Beyond that I've worked with bands including LIGHTS, Falling In Reverse, and Modest Mouse!"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/698/22806567393_352f91fddc_b.jpg', title: "LIGHTS"}
      =image_tag('https://farm1.staticflickr.com/698/22806567393_352f91fddc_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/707/22806572533_d5ff6b5c12_b.jpg', title: "LIGHTS"}
      =image_tag('https://farm1.staticflickr.com/707/22806572533_d5ff6b5c12_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/650/23407571006_666ea20a7b_b.jpg', title: "LIGHTS"}
      =image_tag('https://farm1.staticflickr.com/650/23407571006_666ea20a7b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1497/23753782323_e54946530d_b.jpg', title: "Traitors"}
      =image_tag('https://farm2.staticflickr.com/1497/23753782323_e54946530d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/604/22612647134_482b28b8a6_b.jpg', title: "Yuth Forever"}
      =image_tag('https://farm1.staticflickr.com/604/22612647134_482b28b8a6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/738/23325253652_235bbd2278_b.jpg', title: "LIGHTS"}
      =image_tag('https://farm1.staticflickr.com/738/23325253652_235bbd2278_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/696/23064978722_cb6c0cd182_b.jpg', title: "Atoms Fall"}
      =image_tag('https://farm1.staticflickr.com/696/23064978722_cb6c0cd182_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm8.staticflickr.com/7714/17337468508_472745eae5_b.jpg', title: "Loma Prieta"}
      =image_tag('https://farm8.staticflickr.com/7714/17337468508_472745eae5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5675/22612495653_16f009fe0a_b.jpg', title: "Varials"}
      =image_tag('https://farm6.staticflickr.com/5675/22612495653_16f009fe0a_b.jpg', class: 'img-responsive center-block', width: '100%')