- content_for :title, "Intrepid Visuals | Event Photography"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg', title: 'Falling In Reverse : The Bourbon Theatre, Lincoln, NE'}
      =image_tag('https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm4.staticflickr.com/3773/20264307628_0e470d1cbf_b.jpg', title: 'Every Time I Die : The Bourbon Theatre, Lincoln NE'}
      =image_tag('https://farm4.staticflickr.com/3773/20264307628_0e470d1cbf_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5723/20447035639_f74b010934_b.jpg', title: 'Purity Ring : Maha Music Festival, Omaha NE'}
      =image_tag('https://farm6.staticflickr.com/5723/20447035639_f74b010934_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', title: 'Modest Mouse : Maha Music Festival, Omaha NE'}
      =image_tag('https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg', title: "Real Friends : The Bourbon Theatre, Lincoln NE"}
      =image_tag('https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/287/20458534861_7eb7ce002f_b.jpg', title: 'Real Friends : The Bourbon Theatre, Lincoln NE'}
      =image_tag('https://farm1.staticflickr.com/287/20458534861_7eb7ce002f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm4.staticflickr.com/3697/19209001219_d30b537f92_b.jpg', title: 'Wayland : The Bourbon Theatre, Lincoln NE'}
      =image_tag('https://farm4.staticflickr.com/3697/19209001219_d30b537f92_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm9.staticflickr.com/8590/16538835487_c697827a53_b.jpg', title: 'letlive : Vega, Lincoln NE'}
      =image_tag('https://farm9.staticflickr.com/8590/16538835487_c697827a53_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/467/20264160840_872eec282b_b.jpg', title: 'Counterparts : The Bourbon Theatre, Lincoln NE'}
      =image_tag('https://farm1.staticflickr.com/467/20264160840_872eec282b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm9.staticflickr.com/8825/16960356529_b208d189f1_b.jpg', title: 'Stray From The Path : The Lookout Lounge, Omaha NE'}
      =image_tag('https://farm9.staticflickr.com/8825/16960356529_b208d189f1_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm8.staticflickr.com/7753/17337627390_6ee18ce386_b.jpg', title: 'gates : Vega, Lincoln NE'}
      =image_tag('https://farm8.staticflickr.com/7753/17337627390_6ee18ce386_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm8.staticflickr.com/7286/16558405770_695afa4d9b_b.jpg', title: 'letlive : Vega, Lincoln NE'}
      =image_tag('https://farm8.staticflickr.com/7286/16558405770_695afa4d9b_b.jpg', class: 'img-responsive center-block', width: '100%')