- content_for :title, "Intrepid Visuals | Fashion Photography"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5692/21097299496_b9fff9671b_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5692/21097299496_b9fff9671b_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/715/20936722979_91ff42456e_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/715/20936722979_91ff42456e_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5632/21123500315_9e9e5ca945_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5632/21123500315_9e9e5ca945_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5667/21097298776_ea86c8dbbf_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5667/21097298776_ea86c8dbbf_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5650/21131245621_f4f361767e_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5650/21131245621_f4f361767e_h.jpg', class: 'img-responsive center-block', width: '100%')