.row.animated.fadeIn.clearfix
  .col-md-8.col-md-offset-2.clearfix
    #slideshow.clearfix
      .photo
        %a{ href: 'https://www.flickr.com/photos/hearnebraska/20452315335/in/dateposted/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/20309105786/in/dateposted-public/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/524/20309105786_7e4610f752_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/16646773730/in/album-72157649827507037/', target: 'blank' }
          %img.center-block{ src: 'https://farm9.staticflickr.com/8621/16646773730_4a01de3b43_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/20486456482/in/dateposted-public/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/296/20486456482_412bd89ec7_h.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/19446057034/in/dateposted-public/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/259/19446057034_6db1dfa5f9_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/17249033382/in/album-72157649827507037/', target: 'blank' }
          %img.center-block{ src: 'https://farm9.staticflickr.com/8746/17249033382_56c15a05b6_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/19424627435/in/album-72157649827507037/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/555/19424627435_6aa9c24056_b.jpg', width: '100%' }
      .photo
        %a{ href: 'https://www.flickr.com/photos/130397051@N05/19539923223/in/dateposted-public/', target: 'blank' }
          %img.center-block{ src: 'https://farm1.staticflickr.com/354/19539923223_24a4e6bcc9_b.jpg', width: '100%' }

  