.row 
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/625/20132084103_0d394fc7fe_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/625/20132084103_0d394fc7fe_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/741/20565062000_a88972a68b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/741/20565062000_a88972a68b_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5812/20720130271_676c116f2c_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5812/20720130271_676c116f2c_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5825/20503932666_0994876265_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5825/20503932666_0994876265_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm9.staticflickr.com/8621/16646773730_4a01de3b43_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8621/16646773730_4a01de3b43_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/450/19972790278_bb862c0be6_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/450/19972790278_bb862c0be6_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/573/20640362501_4e00830b78_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/573/20640362501_4e00830b78_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/635/20447014209_3fc003e59d_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/635/20447014209_3fc003e59d_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5633/20607399096_32634f6128_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5633/20607399096_32634f6128_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-3
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')


  