- content_for :title, "Intrepid Visuals - Photo/Video"
- content_for :page_title, "HOME"
- content_for :description, "Intrepid Visuals is a photography & videography company based in the midwest.  Specializing in event and portrait photography, we provide high-quality products and excellent customer service to all of our clients."
.row 
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5826/20933607554_b7e3307ff2_h.jpg', title: 'Samantha Harpster | Omaha, NE : Portraits'}
      =image_tag('https://farm6.staticflickr.com/5826/20933607554_b7e3307ff2_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/759/22294534266_d6a02a9d18_h.jpg', title: 'Jenna Bockoven | Lincoln, NE : Portraits'}
      =image_tag('https://farm1.staticflickr.com/759/22294534266_d6a02a9d18_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5721/22629709825_125f5f8c91_h.jpg', title: 'Joel Bricker | Lincoln, NE : Portraits'}
      =image_tag('https://farm6.staticflickr.com/5721/22629709825_125f5f8c91_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5810/22715311431_2575200a88_b.jpg', title: 'Sammie Sparks | Omaha, NE : Portraits'}
      =image_tag('https://farm6.staticflickr.com/5810/22715311431_2575200a88_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', title: 'Every Time I Die | Lincoln, NE : Events'}
      =image_tag('https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5674/22389195721_8aba3f5d21_h.jpg', title: 'Earth Groans | Lincoln, NE : Events'}
      =image_tag('https://farm6.staticflickr.com/5674/22389195721_8aba3f5d21_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/635/20982367583_fbdabe72db_b.jpg', title: 'The Impulsive | Omaha, NE : Events'}
      =image_tag('https://farm1.staticflickr.com/635/20982367583_fbdabe72db_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', title: 'Modest Mouse | Omaha, NE : Events'}
      =image_tag('https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg', title: 'RAW Glimpse | Omaha, NE : Fashion'}
      =image_tag('https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg', title: 'RAW Glimpse | Omaha, NE : Fashion'}
      =image_tag('https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg', title: 'RAW Glimpse | Omaha, NE : Fashion'}
      =image_tag('https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5692/21097299496_b9fff9671b_h.jpg', title: 'RAW Glimpse | Omaha, NE : Fashion'}
      =image_tag('https://farm6.staticflickr.com/5692/21097299496_b9fff9671b_h.jpg', class: 'img-responsive center-block', width: '100%')



    

  