- content_for :title, "Intrepid Visuals | Event, Portrait, & Fashion Photography & Videography"
- content_for :description, "Intrepid Visuals is a photography & videography company based in the midwest.  Specializing in event and portrait photography, we provide high-quality products and excellent customer service to all of our clients."
.row 
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5826/20933607554_b7e3307ff2_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5826/20933607554_b7e3307ff2_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/610/20481855614_bf285a9b40_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/610/20481855614_bf285a9b40_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8758/18329530292_b94839841a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5764/20916564208_08c74ba5bb_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5764/20916564208_08c74ba5bb_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5714/21368313570_a1da72579f_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5714/21368313570_a1da72579f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/756/21123500985_016e9f00ff_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/619/20483381033_b1247c2990_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/619/20483381033_b1247c2990_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/573/20640362501_4e00830b78_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/573/20640362501_4e00830b78_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/635/20447014209_3fc003e59d_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/635/20447014209_3fc003e59d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5633/20607399096_32634f6128_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5633/20607399096_32634f6128_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/541/20458521901_4e88189cc5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/524/20309105786_7e4610f752_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/524/20309105786_7e4610f752_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5810/21094376762_1134c51122_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5810/21094376762_1134c51122_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-3.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/476/20452268575_392b569e27_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/476/20452268575_392b569e27_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/587/21113366842_5650d25763_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5814/21123499215_c94276ba47_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5640/20916356450_ddee678cb5_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5640/20916356450_ddee678cb5_b.jpg', class: 'img-responsive center-block', width: '100%')


    

  