- content_for :title, "Intrepid Visuals - Photo/Video"
- content_for :page_title, "HOME"
- content_for :description, "Intrepid Visuals is a photography & videography company based in the midwest.  Specializing in event and portrait photography, we provide high-quality products and excellent customer service to all of our clients."
.row 
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/622/22963952653_c764210ec4_b.jpg', title: 'Samantha Harpster | Omaha, NE : Portraits'}
      =image_tag('https://farm1.staticflickr.com/622/22963952653_c764210ec4_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/759/22294534266_d6a02a9d18_h.jpg', title: 'Jenna Bockoven | Lincoln, NE : Portraits'}
      =image_tag('https://farm1.staticflickr.com/759/22294534266_d6a02a9d18_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5721/22629709825_125f5f8c91_h.jpg', title: 'Joel Bricker | Lincoln, NE : Portraits'}
      =image_tag('https://farm6.staticflickr.com/5721/22629709825_125f5f8c91_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5810/22715311431_2575200a88_b.jpg', title: 'Sammie Sparks | Omaha, NE : Portraits'}
      =image_tag('https://farm6.staticflickr.com/5810/22715311431_2575200a88_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', title: 'Every Time I Die | Lincoln, NE : Concerts'}
      =image_tag('https://farm1.staticflickr.com/322/20452315335_e1336b6714_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/582/23137935970_656a52294c_b.jpg', title: 'LIGHTS | Kansas City, MO : Concerts'}
      =image_tag('https://farm1.staticflickr.com/582/23137935970_656a52294c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/635/20982367583_fbdabe72db_b.jpg', title: 'The Impulsive | Omaha, NE : Concerts'}
      =image_tag('https://farm1.staticflickr.com/635/20982367583_fbdabe72db_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', title: 'Modest Mouse | Omaha, NE : Concerts'}
      =image_tag('https://farm1.staticflickr.com/581/20447061709_a95bc81290_b.jpg', class: 'img-responsive center-block', width: '100%')




    

  