- content_for :title, "Intrepid Visuals - 2015 In Review"
- content_for :page_title, "2015 IN REVIEW"
- content_for :description, "A reflection of my first year as a photographer"
.row
  .col-md-12.grid
    %h1.text-center.make-center 2015 IN REVIEW

.row
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1549/23381119473_f4a5535e21_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1549/23381119473_f4a5535e21_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 January 8th is where my photo journey began. I bought a Nikon D3200 and a 35 F/1.8 lens, and took over 3,500 pictures in that first month alone. 
    %h4 I started out shooting concerts almost every weekend, and a couple landscapes every now and again, and that's really how I actually learned how to operate a camera effectively and how to shoot and edit photos in really bad lighting conditions, something that I think positively influenced my growth over the coming months. 

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5739/23712211010_f694f8f9bc_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5739/23712211010_f694f8f9bc_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1597/23640024309_71ccb0281b_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1597/23640024309_71ccb0281b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1471/23899655352_6bf6e765b8_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1471/23899655352_6bf6e765b8_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5733/23925339931_9daa9ee9c0_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5733/23925339931_9daa9ee9c0_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5640/23640018709_c63c04b815_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5640/23640018709_c63c04b815_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5822/23712212340_b1f254a5d6_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5822/23712212340_b1f254a5d6_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1698/23925363461_6736d243be_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1698/23925363461_6736d243be_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 On February 13th I turned 18, which meant that I could get into more shows since a lot were 18+. Because of this, I was able to very frequently shoot shows, sometimes 2 or 3 in a single week. 
    %h4 It was also really cold and really snowy, allowing me to get some pretty cool looking landscapes while I was out. 
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5788/23981824026_54d89e7ff4_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5788/23981824026_54d89e7ff4_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1610/23925362541_966a4bc836_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1610/23925362541_966a4bc836_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5693/23381114433_c79147cd71_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5693/23381114433_c79147cd71_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5794/23381113073_f5ebda5d5c_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5794/23381113073_f5ebda5d5c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5742/23899659262_5c6df23715_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5742/23899659262_5c6df23715_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5802/23640038009_c94eddc721_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5802/23640038009_c94eddc721_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 Once March rolled around I had my first opportunity to shoot a big national band, letlive. There wasn't any kind of photo pit at this show, but it was still a great experience being able to get famous bands in my portfolio.
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5703/23899665582_ff06377b23_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5703/23899665582_ff06377b23_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5690/23981813736_7e0acf5dea_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5690/23981813736_7e0acf5dea_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1501/23640028929_f30115ac31_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1501/23640028929_f30115ac31_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1627/23381101433_50ab93cb82_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1627/23381101433_50ab93cb82_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5756/23981816966_314da9370f_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5756/23981816966_314da9370f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 In April I got the chance to shoot Stray From The Path, and this show was signifcant because it's where I started to experiment with off-camera flash at concerts. For this particular show the flash was placed behind the drumset and remotely triggered from my camera. I had also just passed 10,000 shutter actuations on my Nikon.  
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5808/24007918015_9eec9e7bbf_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5808/24007918015_9eec9e7bbf_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5648/24007916585_44b384823a_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5648/24007916585_44b384823a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5693/23925354781_cea92dec58_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5693/23925354781_cea92dec58_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1502/23981820546_1c58c4b315_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1502/23981820546_1c58c4b315_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 May was kind of a turning point for me, my photography slowly became less about landscapes and more about just concerts. I had just landed an internship with Hear Nebraska, and I got my first really big opportunity; Photographing Falling In Reverse at The Bourbon Theatre. 
    %h4 This was my first time shooting from a photo pit, and I had just replaced my Nikon with a Pentax K3 and a Sigma 18-35 F/1.8 lens, which I am still using and loving today. 
    %h4 It was also at this point that I really started to consider photography as a career to pursue.
    %h4 Besides Falling In Reverse I also got to shoot the Superior CD Release show in Omaha, something I had been looking forward to since January. 
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5700/24007920225_d3bc49076c_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5700/24007920225_d3bc49076c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5678/23640037749_9cf0bf0014_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5678/23640037749_9cf0bf0014_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1673/23379682214_f837a7275c_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1673/23379682214_f837a7275c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5741/23640036569_53658eb7bf_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5741/23640036569_53658eb7bf_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1554/23381114873_2c85966ea8_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1554/23381114873_2c85966ea8_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 In June I started to incorporate portraiture into my photography, namely through doing promos for a few bands. I hadn't really had any opportunities to take photos of people that weren't playing on a stage so working with posing, light, and location were totally new to me at this point. 
    %h4 However I felt that by having these experiences it made me more confident in doing more portrait shoots with just people and not bands.
    %h4 And beyond that I was still shooting loads of concerts for Hear Nebraska!
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5827/23379684384_825f0be61d_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5827/23379684384_825f0be61d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5831/23899674202_1a6c97087c_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5831/23899674202_1a6c97087c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5735/23981822466_39ef7e2969_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5735/23981822466_39ef7e2969_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1489/23379688454_3fd0295ef9_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1489/23379688454_3fd0295ef9_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 So I think the reason I waited so long to start talking to friends and models and taking their picture is because I was honestly really shy and worried about messing up and looking unprofessional.
    %h4 I had spent so much time trying to study about how to take portraits that one day I just decided to go for it and talk to a friend and just go shoot with them. It was surprising to me how relieved I felt after the first portrait shoot I did.  I was confident in the work I produced so I started to talk to other models and started taking more portraits. 
    %h4 In the next couple of months before my freshman year of college started I shot a ton of portraits and ultimately developed my style then.
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1669/23899678142_6a0560ff6f_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1669/23899678142_6a0560ff6f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1499/23899678062_b550343979_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1499/23899678062_b550343979_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1630/23925365411_97afc483da_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1630/23925365411_97afc483da_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1517/23925370031_bda533dcb1_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1517/23925370031_bda533dcb1_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 August, in a lot of ways, was mostly a continuation of July. I shot a bunch of portraits and met a ton of awesome people.
    %h4 I also got to shoot Every Time I Die at The Bourbon Theatre, and I got to tag along with Hear Nebraska for their coverage of the Maha Music Festival in Omaha, easily the biggest event I have shot to date. 
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1621/23640048049_a14ed978eb_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1621/23640048049_a14ed978eb_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5690/23712216090_0b1b063bfd_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5690/23712216090_0b1b063bfd_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1615/23381122183_f447d6a16a_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1615/23381122183_f447d6a16a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1627/23381123453_b85656cdb2_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1627/23381123453_b85656cdb2_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1653/23712215620_9f965b2de2_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1653/23712215620_9f965b2de2_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5709/23379696474_45cf24ae69_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5709/23379696474_45cf24ae69_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 I didn't actually get published in Dark Beauty Magazine at this point, but the shoot that did get me published happened in this month. My photo wouldn't actually run in their online magazine until November!
    %h4 The sole intention of this shoot was to get published in Dark Beauty, but neither myself or the model Samantha actually thought it was going to happen, so it took us both completely by surprise when it ended up getting accepted.
    %h4 But beyond that, I did do a few shoots with people and their dogs, some senior sessions, and of course, more concerts.
    %h4 Oh, and I also officially became an LLC in this month!
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5768/23712220040_6febabb723_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5768/23712220040_6febabb723_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1572/23925372111_6e230abec6_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1572/23925372111_6e230abec6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1665/23925372141_9301c03af6_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1665/23925372141_9301c03af6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1630/23925373151_a769441456_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1630/23925373151_a769441456_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 This is the image that made it into Dark Beauty!

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5644/23381131393_24369582fb_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5644/23381131393_24369582fb_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 In October I had basically made the decision that I was going to pursue photography as a career. I had already registered as a business and I was ready to make the commitment to make it real, and to support myself with it. My biggest goal for 2016 is to become closer to being self-sustaining.
    %h4 But through October I just kept doing what I loved, I shot portraits and concerts!
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5700/23379700594_10f295219d_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5700/23379700594_10f295219d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1656/23712224810_ae811a5828_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1656/23712224810_ae811a5828_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1718/23379700794_a2fbc7eb1b_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1718/23379700794_a2fbc7eb1b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1499/24007937845_b1dcf6e621_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1499/24007937845_b1dcf6e621_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5706/23640061209_95b95f0f7e_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5706/23640061209_95b95f0f7e_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 November was probably my biggest month. First, I found out that I had been published in Dark Beauty Mag, and second, I had just gotten the opportunity to photograph LIGHTS in Kansas City, MO!
    %h4 This was huge for me because I had never traveled outside of Nebraska solely for my photography, and I also got to shoot in the photo pit for the entire concert, for one of the biggest acts I've ever gotten to shoot. I produced my best work that night.
    %h4 
      I dedicated another feature just for the LIGHTS concert which you can see
      %a.blue{ href: '/lights' }here
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1548/23640061189_e6a1890670_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1548/23640061189_e6a1890670_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1511/23925382101_de3e65600c_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1511/23925382101_de3e65600c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5793/23925381831_9c5ee619a5_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5793/23925381831_9c5ee619a5_b.jpg', class: 'img-responsive center-block', width: '100%')

  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1613/23925387921_7f112f3be6_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1613/23925387921_7f112f3be6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 Overall, December was a pretty slow month, except for the fact that I shot my first music video this month! It'll be the first big piece of content that will be released in 2016, and I'm really excited to share it. 
    %h4 But besides that, I booked a studio shoot with Samantha again, and spent most of my time with family and celebrating the holidays. I still shot fairly often, but not as much as I had in the previous month, and I didn't post a lot of it either. 
    %h4 Taking a break from the huge photo grind I had been in for the last 11 months was a great way to wrap up what has been the best year of my life.
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5804/23712234920_f9b1568bb9_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5804/23712234920_f9b1568bb9_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1673/23379711254_5f65d86339_b.jpg'}
      =image_tag('https://farm2.staticflickr.com/1673/23379711254_5f65d86339_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-8.grid.col-md-offset-2
    %h4 This is a screenshot of the music video!
    %h4 In the end, I can't thank everyone enough for the support that I have received. It still blows my mind how many friends I have made in such a short amount of time, and I plan to make many more in 2016. 
    %h4 I discovered that photography is what my life was missing, and picking up a camera was sort of a natural thing for me. 


