.row
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/555/19424627435_6aa9c24056_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/555/19424627435_6aa9c24056_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm9.staticflickr.com/8584/15810084063_610169dabb_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8584/15810084063_610169dabb_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm9.staticflickr.com/8621/16646773730_4a01de3b43_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8621/16646773730_4a01de3b43_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm8.staticflickr.com/7288/16534230615_55d759178c_b.jpg'}
      =image_tag('https://farm8.staticflickr.com/7288/16534230615_55d759178c_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm8.staticflickr.com/7641/16573986318_975c963885_b.jpg'}
      =image_tag('https://farm8.staticflickr.com/7641/16573986318_975c963885_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm8.staticflickr.com/7482/16287829686_0c819440e7_b.jpg'}
      =image_tag('https://farm8.staticflickr.com/7482/16287829686_0c819440e7_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm8.staticflickr.com/7462/16126162878_c4542e26d4_b.jpg'}
      =image_tag('https://farm8.staticflickr.com/7462/16126162878_c4542e26d4_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm8.staticflickr.com/7339/16347872359_9b4a3e210b_b.jpg'}
      =image_tag('https://farm8.staticflickr.com/7339/16347872359_9b4a3e210b_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm9.staticflickr.com/8570/15729271884_d987f4f48d_b.jpg'}
      =image_tag('https://farm9.staticflickr.com/8570/15729271884_d987f4f48d_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')