- content_for :title, "Intrepid Visuals - LIGHTS"
- content_for :page_title, "LIGHTS"
- content_for :description, "My coverage of Lights at Arvest Bank Theatre in Kansas City, MO"
.row
  .col-md-12.grid
    %h1.text-center.make-center LIGHTS @ ARVEST BANK THEATRE | 11.29.15
.lights-grid
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/573/23325254572_87434f7d7b_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/573/23325254572_87434f7d7b_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/684/23137941240_f417c95f23_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/684/23137941240_f417c95f23_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5685/23325260582_b2a09e084e_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5685/23325260582_b2a09e084e_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/650/23407571006_666ea20a7b_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/650/23407571006_666ea20a7b_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/707/22806572533_d5ff6b5c12_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/707/22806572533_d5ff6b5c12_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-3.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/628/23065761369_22ac097e6d_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/628/23065761369_22ac097e6d_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-3.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5813/23137940530_5502c236a7_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5813/23137940530_5502c236a7_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-3.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5801/23407571186_094755c9e6_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5801/23407571186_094755c9e6_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-3.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/756/22806571973_ab103b47bd_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/756/22806571973_ab103b47bd_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/627/22805380614_d7fcb7c9fe_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/627/22805380614_d7fcb7c9fe_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/648/23325258782_688569b3d3_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/648/23325258782_688569b3d3_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/700/23065759829_915e6b952f_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/700/23065759829_915e6b952f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5628/22805379154_22a79dd084_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5628/22805379154_22a79dd084_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5700/23325258152_bf6561d932_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5700/23325258152_bf6561d932_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/705/23433712745_0ef2dfbd01_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/705/23433712745_0ef2dfbd01_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/733/23351183151_aef0c04b6c_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/733/23351183151_aef0c04b6c_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5744/23137934620_e13dfb9b43_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5744/23137934620_e13dfb9b43_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5622/23137939220_814c50d8fe_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5622/23137939220_814c50d8fe_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/606/23137939060_b296f6bdbe_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/606/23137939060_b296f6bdbe_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5779/23325258062_9bfde040b7_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5779/23325258062_9bfde040b7_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/704/22806571073_4e75f8ef18_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/704/22806571073_4e75f8ef18_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/701/23433715545_e5d0743e4a_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/701/23433715545_e5d0743e4a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/622/23065754969_e4dc9cbe74_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/622/23065754969_e4dc9cbe74_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/676/23407569346_bd73c6041a_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/676/23407569346_bd73c6041a_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/698/22806567393_352f91fddc_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/698/22806567393_352f91fddc_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row 
    .col-md-12.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5684/23351182461_e3f5fffa3d_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5684/23351182461_e3f5fffa3d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/758/23325257022_5e3d062a1a_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/758/23325257022_5e3d062a1a_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/683/23407568496_c5cf9ee58b_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/683/23407568496_c5cf9ee58b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/668/22806567053_8a68a80922_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/668/22806567053_8a68a80922_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/720/23407569036_5032bc8339_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/720/23407569036_5032bc8339_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/687/23137937450_c237ded07b_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/687/23137937450_c237ded07b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/705/22805378764_08ac25876f_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/705/22805378764_08ac25876f_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5791/22805380944_747d912c49_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5791/22805380944_747d912c49_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5792/23433714945_3a60f17f7b_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5792/23433714945_3a60f17f7b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5821/22806567673_f6b17f2e5c_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5821/22806567673_f6b17f2e5c_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-6.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5703/23065755259_f1cd4ff5e3_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5703/23065755259_f1cd4ff5e3_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/749/23325256162_1df16283e7_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/749/23325256162_1df16283e7_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5795/23433714315_30d42f745e_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5795/23433714315_30d42f745e_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5800/22805376874_651c18839a_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5800/22805376874_651c18839a_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5758/23433713695_236c6a0510_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5758/23433713695_236c6a0510_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5626/23433713925_71c56b0be6_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5626/23433713925_71c56b0be6_b.jpg', class: 'img-responsive center-block', width: '100%')
    .col-md-4.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5801/23137936540_9b17b84c48_b.jpg'}
        =image_tag('https://farm6.staticflickr.com/5801/23137936540_9b17b84c48_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-12.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/582/23137935970_656a52294c_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/582/23137935970_656a52294c_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-12.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/757/23407566516_645da35a91_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/757/23407566516_645da35a91_b.jpg', class: 'img-responsive center-block', width: '100%')
  .row
    .col-md-12.grid.grid-pad
      %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/738/23325253652_235bbd2278_b.jpg'}
        =image_tag('https://farm1.staticflickr.com/738/23325253652_235bbd2278_b.jpg', class: 'img-responsive center-block', width: '100%')

.row
  .col-md-6.col-md-offset-3
    %h3.thick-text 
      If you're an avid concert-goer like myself, the feeling of an incredible concert is something magical that doesn't come by often. 
    %h3.thick-text
      From the 3 hour drive to Kansas City to waiting outside of Arvest Bank Theatre waiting for doors to open in the pouring rain, I still didn't know what to expect from LIGHTS, and I think this lack of knowledge greatly added to the impact of their show.
    %h3.thick-text
      My press pass was only valid for LIGHT's set, so I didn't get to shoot K.Flay or The Mowgli's, which at first I thought was dissapointing, but eventually realized that it was a relief not having to sort through all of those photos. So when I got into the venue, I turned my coat into the coat check and just watched the first two bands perform, using this time to observe the house lights and the band's lights.
    %h3.thick-text
      Once The Mowgli's finished playing, the tour manager showed me where I was allowed to shoot from, which included the photo pit and side stage. The only difference being...
    %h2.thick-text.blue.text-center
      I was allowed to shoot in the photo pit for the entire set.
    %h3.thick-text
      Those of you that have shot in photo pits before know that you are usually only allowed to shoot the first 2 or 3 songs and then have to leave the pit, which can put you into a rush and also miss out on the cool things that happen towards the end of the set. You also have to share this space with the other photographers that will likely be in some of your shots.
    %h3.thick-text
      Having the entire pit to yourself for the whole set is an incredible experience that allows you to be less worried about speed, and focused on what matters: Getting awesome photos.
    %h3.thick-text
      And through the entire set I was constantly amazed by the talent and energy that was LIGHTS. Valerie is a multi-talented musician that takes the audience under her wing for the night and takes them on a trip of emotions through her personal life. Whether on guitar, keys, synths, or just a microphone, listening to LIGHTS is almost like having a conversation with the snapshot of the person she was when the song was written.
    %h3.thick-text 
      Leaving the venue left me speechless, as a newbie to both Kansas City and LIGHTS, I had so much to absorb on the drive back to Nebraska.
    %h3.thick-text
      After finishing the photos and having some time to let the experience sink in, I can clearly reflect on this experience as one of my best. 
    %h1.thick-text.text-center
      LIGHTS is unforgettable 


