- content_for :title, "Intrepid Visuals - Portraits"
- content_for :page_title, "PORTRAITS"
- content_for :description, "Discovering portraiture is one of the best things that's ever happened to me! Once I started looking at how to capture someone's personality in an image, all of my photography changed. It has now become one of my main focuses for photography!"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1466/24307230515_155f479abe_b.jpg', title: "Samantha Collingham"}
      =image_tag('https://farm2.staticflickr.com/1466/24307230515_155f479abe_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1609/24277439312_d16489b2bd_b.jpg', title: "Kayla Ava Sky"}
      =image_tag('https://farm2.staticflickr.com/1609/24277439312_d16489b2bd_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/571/21697821114_18942e1b7b_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm1.staticflickr.com/571/21697821114_18942e1b7b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1524/24017472649_b85180a0a6_b.jpg', title: "Samantha Collingham"}
      =image_tag('https://farm2.staticflickr.com/1524/24017472649_b85180a0a6_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/759/22294534266_ac6e20ea4d_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm1.staticflickr.com/759/22294534266_ac6e20ea4d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1655/24017068749_f385998cc4_b.jpg', title: "Kayla Ava Sky"}
      =image_tag('https://farm2.staticflickr.com/1655/24017068749_f385998cc4_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1630/23868146260_46fd2ef2f1_b.jpg', title: "Alexandria Johnson"}
      =image_tag('https://farm2.staticflickr.com/1630/23868146260_46fd2ef2f1_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm2.staticflickr.com/1507/23533829903_ab5f072619_b.jpg', title: "Alexandria Johnson"}
      =image_tag('https://farm2.staticflickr.com/1507/23533829903_ab5f072619_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg', class: 'img-responsive center-block', width: '100%')