- content_for :title, "Intrepid Visuals - Portraits"
- content_for :page_title, "PORTRAITS"
- content_for :description, "One of our specialties is portraiture!  From senior portraits to engagement sessions, we will provide you with stunning images that capture memories that will never go away!"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/619/20483381033_b1247c2990_b.jpg', title: "Kenzie Ki"}
      =image_tag('https://farm1.staticflickr.com/619/20483381033_b1247c2990_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/751/23425530641_b6293343c2_b.jpg', title: "Samantha Harpster"}
      =image_tag('https://farm1.staticflickr.com/751/23425530641_b6293343c2_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/571/21697821114_18942e1b7b_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm1.staticflickr.com/571/21697821114_18942e1b7b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5764/20916564208_08c74ba5bb_b.jpg', title: "Carisa Diehm and Nate Krysl"}
      =image_tag('https://farm6.staticflickr.com/5764/20916564208_08c74ba5bb_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/759/22294534266_ac6e20ea4d_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm1.staticflickr.com/759/22294534266_ac6e20ea4d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5696/21287642259_7d5b2d1a26_b.jpg', title: "Carla Seravalli"}
      =image_tag('https://farm6.staticflickr.com/5696/21287642259_7d5b2d1a26_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5822/20483379693_3ee522a48f_b.jpg', title: "Nicholas Depuy"}
      =image_tag('https://farm6.staticflickr.com/5822/20483379693_3ee522a48f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/723/21565132321_f359f461a0_h.jpg', title: "Samantha Harpster"}
      =image_tag('https://farm1.staticflickr.com/723/21565132321_f359f461a0_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg', title: "Jenna Bockoven"}
      =image_tag('https://farm6.staticflickr.com/5714/20916356790_c058eaea1f_b.jpg', class: 'img-responsive center-block', width: '100%')