.row
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5792/20090682764_49bcdf1196_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5792/20090682764_49bcdf1196_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5795/20387155498_b3daac42a5_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5795/20387155498_b3daac42a5_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5804/20503961996_5eedcf2d38_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5804/20503961996_5eedcf2d38_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5650/20566159812_3960dd8105_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5650/20566159812_3960dd8105_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/511/20341410391_e1456fbe02_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/511/20341410391_e1456fbe02_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/308/19972833778_1cdc7f5c63_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/308/19972833778_1cdc7f5c63_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')
  .col-md-4
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/544/19512218855_185953f6ea_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/544/19512218855_185953f6ea_b.jpg', class: 'img-responsive center-block pad-image', width: '100%')