- content_for :title, "Intrepid Visuals | Portrait Photography"
- content_for :description, "One of our specialties is portraiture!  From senior portraits to engagement sessions, we will provide you with stunning images that capture memories that will never go away!"
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5792/20090682764_49bcdf1196_b.jpg', title: 'Kenzie Ki, Omaha NE | Photo by: Peter Barnes'}
      =image_tag('https://farm6.staticflickr.com/5792/20090682764_49bcdf1196_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5795/20387155498_b3daac42a5_b.jpg', title: 'Jordan Straight, Lincoln NE | Photo by: Peter Barnes'}
      =image_tag('https://farm6.staticflickr.com/5795/20387155498_b3daac42a5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5804/20503961996_5eedcf2d38_b.jpg', title: 'Bryan Parker, Lincoln NE | Photo by: Peter Barnes'}
      =image_tag('https://farm6.staticflickr.com/5804/20503961996_5eedcf2d38_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg', title: 'Carisa Deihm and Nate Krysl, Omaha NE | Photo by: Peter Barnes'}
      =image_tag('https://farm1.staticflickr.com/296/20486456482_ac8d9d8c95_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5650/20566159812_3960dd8105_b.jpg', title: 'Jordan Straight, Lincoln NE | Photo by: Peter Barnes'}
      =image_tag('https://farm6.staticflickr.com/5650/20566159812_3960dd8105_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg', title: 'Sephyr Jae and Becki Bullets, Omaha NE | Photo by: Peter Barnes'}
      =image_tag('https://farm1.staticflickr.com/338/19748512899_79c8073b16_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/511/20341410391_e1456fbe02_b.jpg', title: 'Nicholas Depuy, Lincoln NE | Photo by: Peter Barnes'}
      =image_tag('https://farm1.staticflickr.com/511/20341410391_e1456fbe02_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/308/19972833778_1cdc7f5c63_b.jpg', title: 'Samantha Harpster, Omaha NE | Photo by: Peter Barnes'}
      =image_tag('https://farm1.staticflickr.com/308/19972833778_1cdc7f5c63_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/544/19512218855_185953f6ea_b.jpg', title: 'Jenna Bockoven, Lincoln NE | Photo by: Peter Barnes'}
      =image_tag('https://farm1.staticflickr.com/544/19512218855_185953f6ea_b.jpg', class: 'img-responsive center-block', width: '100%')