#wrapper.animated.fadeIn
  =image_tag('intrepidvisualsplain_black.png', class: 'center-block img-responsive')
  %h1.text-center.title 
    INTREPID 
    %span.blue /
    VISUALS
  %h2.text-center.big-top 
    %a.modern-button{ href: '/home' } ENTER
  %h1 &nbsp;
