- content_for :title, "Intrepid Visuals - Photo Stories"
- content_for :description, "Photographs have an inherit ability to tell a story. Often times I take a lot of time to take pictures that convey a certain meaning, and put them together to form a photo story."
.row
  .col-md-4.grid
    %a.darken{ href: '/2015' }
      =image_tag('2015inreview.jpg', width: '100%', class: 'img-responsive center-block')
  .col-md-4.grid
    %a.darken{ href: '/lights' }
      =image_tag('lightsthumbnail.jpg', width: '100%', class: 'img-responsive center-block')
    
      


