- content_for :title, "Intrepid Visuals - Videography"
- content_for :page_title, "VIDEO"
- content_for :description, "One of our specialties is videography!  "
.row
  .col-md-12.grid
    =image_tag('https://farm1.staticflickr.com/769/23295653920_6a750db5cb_b.jpg', class: 'img-responsive center-block', width: '100%')



    
  

