.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/6b8a9c08b52cf63644b54e8df9978bb5420d7fbb', target: 'blank', download: 'annunciation_greek_orthodox_church' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/642/22490378322_aec661ed70_h.jpg', title: '1'}
      =image_tag('https://farm1.staticflickr.com/642/22490378322_aec661ed70_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/645/22315847250_cc320629d6_h.jpg', title: '2'}
      =image_tag('https://farm1.staticflickr.com/645/22315847250_cc320629d6_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5832/22514886261_d5c7652d41_h.jpg', title: '3'}
      =image_tag('https://farm6.staticflickr.com/5832/22514886261_d5c7652d41_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/595/22477816536_1f107fd2a4_h.jpg', title: '4'}
      =image_tag('https://farm1.staticflickr.com/595/22477816536_1f107fd2a4_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5806/22490377632_b518b8a1db_h.jpg', title: '5'}
      =image_tag('https://farm6.staticflickr.com/5806/22490377632_b518b8a1db_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5675/22315846670_d7fe8c14cd_h.jpg', title: '6'}
      =image_tag('https://farm6.staticflickr.com/5675/22315846670_d7fe8c14cd_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/697/22316108238_3b176749ae_h.jpg', title: '7'}
      =image_tag('https://farm1.staticflickr.com/697/22316108238_3b176749ae_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/748/22316978579_233f4a80a5_h.jpg', title: '8'}
      =image_tag('https://farm1.staticflickr.com/748/22316978579_233f4a80a5_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5694/21881067304_2689d625b4_h.jpg', title: '9'}
      =image_tag('https://farm6.staticflickr.com/5694/21881067304_2689d625b4_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/656/21881068714_386476a76c_h.jpg', title: '10'}
      =image_tag('https://farm1.staticflickr.com/656/21881068714_386476a76c_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/600/22503796245_0e66e4ec62_h.jpg', title: '11'}
      =image_tag('https://farm1.staticflickr.com/600/22503796245_0e66e4ec62_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/586/22503796115_61fccd02e6_h.jpg', title: '12'}
      =image_tag('https://farm1.staticflickr.com/586/22503796115_61fccd02e6_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/724/22477815876_96bf14f8f1_h.jpg', title: '13'}
      =image_tag('https://farm1.staticflickr.com/724/22477815876_96bf14f8f1_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/649/22315846160_bfd86827ca_h.jpg', title: '14'}
      =image_tag('https://farm1.staticflickr.com/649/22315846160_bfd86827ca_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/599/22316978159_0b6011f8da_h.jpg', title: '15'}
      =image_tag('https://farm1.staticflickr.com/599/22316978159_0b6011f8da_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-12.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/609/21881067224_b7ca9ec1ff_h.jpg', title: '16'}
      =image_tag('https://farm1.staticflickr.com/609/21881067224_b7ca9ec1ff_h.jpg', class: 'img-responsive center-block', width: '100%')
