.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/a2716f5b32692edc01d89c5fe90607748fd9f32a', target: 'blank', download: 'brennan_roberson_senior' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5813/21034122474_11ff063ca4_h.jpg', title: '1'}
      =image_tag('https://farm6.staticflickr.com/5813/21034122474_11ff063ca4_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/581/21645414142_0bbf791d1e_h.jpg', title: '2'}
      =image_tag('https://farm1.staticflickr.com/581/21645414142_0bbf791d1e_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/662/21469960029_657330fde7_h.jpg', title: '3'}
      =image_tag('https://farm1.staticflickr.com/662/21469960029_657330fde7_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5722/21469967209_69875f1636_h.jpg', title: '4'}
      =image_tag('https://farm6.staticflickr.com/5722/21469967209_69875f1636_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5664/21469966819_322cceb055_h.jpg', title: '5'}
      =image_tag('https://farm6.staticflickr.com/5664/21469966819_322cceb055_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/675/21468957098_ff5fb96db0_h.jpg', title: '6'}
      =image_tag('https://farm1.staticflickr.com/675/21468957098_ff5fb96db0_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5638/21034120704_edf5c8556e_h.jpg', title: '7'}
      =image_tag('https://farm6.staticflickr.com/5638/21034120704_edf5c8556e_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5706/21468864630_1ce9f4fe52_h.jpg', title: '8'}
      =image_tag('https://farm6.staticflickr.com/5706/21468864630_1ce9f4fe52_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5658/21035779663_cb9dd7dd55_h.jpg', title: '9'}
      =image_tag('https://farm6.staticflickr.com/5658/21035779663_cb9dd7dd55_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5731/21665930351_defbcea012_h.jpg', title: '10'}
      =image_tag('https://farm6.staticflickr.com/5731/21665930351_defbcea012_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5722/21468954178_bba82c7244_h.jpg', title: '11'}
      =image_tag('https://farm6.staticflickr.com/5722/21468954178_bba82c7244_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5810/21035777093_cd30284db0_h.jpg', title: '12'}
      =image_tag('https://farm6.staticflickr.com/5810/21035777093_cd30284db0_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5683/21468950638_019475111c_h.jpg', title: '13'}
      =image_tag('https://farm6.staticflickr.com/5683/21468950638_019475111c_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5662/21656772865_ca1bb0343a_h.jpg', title: '14'}
      =image_tag('https://farm6.staticflickr.com/5662/21656772865_ca1bb0343a_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/625/21665928471_d1732017b0_h.jpg', title: '15'}
      =image_tag('https://farm1.staticflickr.com/625/21665928471_d1732017b0_h.jpg', class: 'img-responsive center-block', width: '100%')