.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/f2fe63d0ef38ec16b17bcf6192274874094babba', target: 'blank', download: 'carla_seravalli_senior' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5696/21287642259_0b8ee3c3ed_h.jpg', title: "1"}
      =image_tag('https://farm6.staticflickr.com/5696/21287642259_0b8ee3c3ed_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5809/21483137521_ff58779eb2_h.jpg', title: "2"}
      =image_tag('https://farm6.staticflickr.com/5809/21483137521_ff58779eb2_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/602/21286490220_13cf82b1e3_h.jpg', title: "3"}
      =image_tag('https://farm1.staticflickr.com/602/21286490220_13cf82b1e3_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/602/21286492080_59dc368c57_h.jpg', title: "4"}
      =image_tag('https://farm1.staticflickr.com/602/21286492080_59dc368c57_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5819/20853454313_456d30e72c_h.jpg', title: "5"}
      =image_tag('https://farm6.staticflickr.com/5819/20853454313_456d30e72c_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/621/21474535255_b232225193_h.jpg', title: "6"}
      =image_tag('https://farm1.staticflickr.com/621/21474535255_b232225193_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/782/21474535575_8b56fc6dbc_h.jpg', title: "7"}
      =image_tag('https://farm1.staticflickr.com/782/21474535575_8b56fc6dbc_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5699/20853452673_307fe76573_h.jpg', title: "8"}
      =image_tag('https://farm6.staticflickr.com/5699/20853452673_307fe76573_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/736/20853454143_8b7150e744_h.jpg', title: "9"}
      =image_tag('https://farm1.staticflickr.com/736/20853454143_8b7150e744_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5686/20851841194_e2bc117c3f_h.jpg', title: "10"}
      =image_tag('https://farm6.staticflickr.com/5686/20851841194_e2bc117c3f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/721/22181738079_e311119e57_h.jpg', title: "11"}
      =image_tag('https://farm1.staticflickr.com/721/22181738079_e311119e57_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/722/22342568976_cc461035b9_h.jpg', title: "12"}
      =image_tag('https://farm1.staticflickr.com/722/22342568976_cc461035b9_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5712/22368591635_43d778f240_h.jpg', title: "13"}
      =image_tag('https://farm6.staticflickr.com/5712/22368591635_43d778f240_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5824/22379305081_0ba402dfab_h.jpg', title: "14"}
      =image_tag('https://farm6.staticflickr.com/5824/22379305081_0ba402dfab_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/663/22181737759_5f3d2398a6_h.jpg', title: "15"}
      =image_tag('https://farm1.staticflickr.com/663/22181737759_5f3d2398a6_h.jpg', class: 'img-responsive center-block', width: '100%')
