.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/3e5ad6d8268bcb3bb4319da0ebd44bd5bdd057e6', target: 'blank', download: 'chelsea_stewart_senior' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5743/21076169133_94d6307914_h.jpg', title: '1'}
      =image_tag('https://farm6.staticflickr.com/5743/21076169133_94d6307914_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5794/21685699212_05a1d23251_h.jpg', title: '2'}
      =image_tag('https://farm6.staticflickr.com/5794/21685699212_05a1d23251_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5662/21697151135_978f879362_h.jpg', title: '3'}
      =image_tag('https://farm6.staticflickr.com/5662/21697151135_978f879362_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/678/21697150935_251660d13f_h.jpg', title: '4'}
      =image_tag('https://farm1.staticflickr.com/678/21697150935_251660d13f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5668/21685698712_5282186042_h.jpg', title: '5'}
      =image_tag('https://farm6.staticflickr.com/5668/21685698712_5282186042_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5792/21074463024_5b9f9cb01a_h.jpg', title: '6'}
      =image_tag('https://farm6.staticflickr.com/5792/21074463024_5b9f9cb01a_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/692/21074462024_1ae160604e_h.jpg', title: '7'}
      =image_tag('https://farm1.staticflickr.com/692/21074462024_1ae160604e_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/707/21509228210_8f4e8bf027_h.jpg', title: '8'}
      =image_tag('https://farm1.staticflickr.com/707/21509228210_8f4e8bf027_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/767/21706368581_dfa66b9637_h.jpg', title: '9'}
      =image_tag('https://farm1.staticflickr.com/767/21706368581_dfa66b9637_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/769/21697148755_aa2955be7a_h.jpg', title: '10'}
      =image_tag('https://farm1.staticflickr.com/769/21697148755_aa2955be7a_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-6.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5775/21510318839_dbd8a0099f_h.jpg', title: '11'}
      =image_tag('https://farm6.staticflickr.com/5775/21510318839_dbd8a0099f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-12.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5758/21510318499_83edd2c377_h.jpg', title: '12'}
      =image_tag('https://farm6.staticflickr.com/5758/21510318499_83edd2c377_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-12.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5777/21671106136_fbc4d5d155_h.jpg', title: '13'}
      =image_tag('https://farm6.staticflickr.com/5777/21671106136_fbc4d5d155_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-12.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/709/21671105966_06ea2f029b_h.jpg', title: '14'}
      =image_tag('https://farm1.staticflickr.com/709/21671105966_06ea2f029b_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-12.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5688/21509324978_715892196c_h.jpg', title: '15'}
      =image_tag('https://farm6.staticflickr.com/5688/21509324978_715892196c_h.jpg', class: 'img-responsive center-block', width: '100%')