.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/92a24747ef3c032a9e1e3cd7e3a7ab9e95226653', target: 'blank', download: '8NLofts' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5696/21150041099_2fffbcf3db_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5696/21150041099_2fffbcf3db_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/669/21148824050_7c6b0311b9_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/669/21148824050_7c6b0311b9_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/609/21149053028_0cb58d6781_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/609/21149053028_0cb58d6781_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/735/21345165571_d850dd5914_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/735/21345165571_d850dd5914_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/762/21149052568_ec5b976c83_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/762/21149052568_ec5b976c83_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/666/21326208872_fd10844aca_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/666/21326208872_fd10844aca_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5632/21345164531_d7f0d20407_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5632/21345164531_d7f0d20407_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/648/21336916935_8d758b1539_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/648/21336916935_8d758b1539_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/710/21150039819_9b4ded446b_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/710/21150039819_9b4ded446b_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5777/20714212994_f56e331671_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5777/20714212994_f56e331671_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/707/21150039539_95f6de2717_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/707/21150039539_95f6de2717_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/658/21336920575_aef7efac51_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/658/21336920575_aef7efac51_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/655/21149051518_bb053b7590_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/655/21149051518_bb053b7590_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/591/21326207882_98cb4091c5_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/591/21326207882_98cb4091c5_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5651/21150039059_5c8d07e797_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5651/21150039059_5c8d07e797_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/570/21149047668_f6f8621b7f_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/570/21149047668_f6f8621b7f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/646/21310648576_cf7a40d636_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/646/21310648576_cf7a40d636_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5818/21345163511_6e5ccc7b4a_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5818/21345163511_6e5ccc7b4a_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/578/21345163451_23f3959f3b_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/578/21345163451_23f3959f3b_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5802/21326207362_a91c34226e_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5802/21326207362_a91c34226e_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5631/21150038359_656a7bc065_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5631/21150038359_656a7bc065_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/667/21345160131_5f00f85e07_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/667/21345160131_5f00f85e07_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/648/21149050528_8ab03e4b2a_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/648/21149050528_8ab03e4b2a_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5655/21150035039_03f5edb37a_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5655/21150035039_03f5edb37a_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/778/21336919575_51770f7a26_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/778/21336919575_51770f7a26_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/682/21150038139_94ca069ebd_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/682/21150038139_94ca069ebd_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/755/21326206732_ff95fbbe5d_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/755/21326206732_ff95fbbe5d_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/678/21148820810_189d32c303_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/678/21148820810_189d32c303_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/607/20714211104_67546b6625_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/607/20714211104_67546b6625_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5620/21310644626_c3a3b85e52_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5620/21310644626_c3a3b85e52_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5763/20714210774_1500b99acd_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5763/20714210774_1500b99acd_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/737/21345161611_d71c3bd6bc_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/737/21345161611_d71c3bd6bc_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/729/21148819350_6acb1451ce_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/729/21148819350_6acb1451ce_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/764/21150036219_576f328939_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/764/21150036219_576f328939_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5635/21149048138_20ff0a7795_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5635/21149048138_20ff0a7795_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/772/21150035849_c1a5be625c_h.jpg'}
      =image_tag('https://farm1.staticflickr.com/772/21150035849_c1a5be625c_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5638/21336916345_f673389934_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5638/21336916345_f673389934_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5628/21326205652_c4febbe31f_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5628/21326205652_c4febbe31f_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5818/21326205092_20a799bda7_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5818/21326205092_20a799bda7_h.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-12.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5681/21149047868_6cac633299_h.jpg'}
      =image_tag('https://farm6.staticflickr.com/5681/21149047868_6cac633299_h.jpg', class: 'img-responsive center-block', width: '100%')