.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/51029f969db86a305d0204288a084099d14e8f98', target: 'blank', download: 'greekfestival_8_29_15' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/684/21013685845_9ee16af59b_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/684/21013685845_9ee16af59b_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/623/21003785302_fd75bbbeae_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/623/21003785302_fd75bbbeae_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5828/21013685495_586aa12c8d_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5828/21013685495_586aa12c8d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/579/20825770268_24f945fb5f_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/579/20825770268_24f945fb5f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5775/20392614223_d505aabc18_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5775/20392614223_d505aabc18_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/668/21003784352_8a726a2010_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/668/21003784352_8a726a2010_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5779/21021243411_a23b958e6f_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5779/21021243411_a23b958e6f_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/754/20391052154_2115af1c03_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/754/20391052154_2115af1c03_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/675/20825772358_ac0b3c3691_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/675/20825772358_ac0b3c3691_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/759/20825608970_5b386d31af_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/759/20825608970_5b386d31af_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5715/20825611090_6615ba4eda_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5715/20825611090_6615ba4eda_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5762/20826885209_f95d74c576_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5762/20826885209_f95d74c576_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/751/20826885019_16d9cebed8_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/751/20826885019_16d9cebed8_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5642/21003782922_95b40bacb5_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5642/21003782922_95b40bacb5_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5827/20825610160_c7b06a859d_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5827/20825610160_c7b06a859d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/597/21021241891_b9568908a0_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/597/21021241891_b9568908a0_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/776/21013682815_c31a71f8d4_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/776/21013682815_c31a71f8d4_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5803/20825609780_500b6d7682_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5803/20825609780_500b6d7682_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/617/20392611863_dae6e71977_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/617/20392611863_dae6e71977_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/728/20826883149_fb4590a4af_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/728/20826883149_fb4590a4af_b.jpg', class: 'img-responsive center-block', width: '100%')
.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5767/20392615583_e54a658539_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5767/20392615583_e54a658539_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5707/21021244421_b63d0943f2_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5707/21021244421_b63d0943f2_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/671/20392613903_fbc37914a7_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/671/20392613903_fbc37914a7_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5716/20987439996_0a86e8f312_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5716/20987439996_0a86e8f312_b.jpg', class: 'img-responsive center-block', width: '100%')