.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/2c27c4b46f9b6fdd3bf69a77ebd9c15973871ade', target: 'blank', download: 'montage_9_2_15' }
      DOWNLOAD ALL
      %i.fa.fa-download

.row
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/686/21102917175_197362cb44_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/686/21102917175_197362cb44_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5737/21102916925_38dce43b5d_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5737/21102916925_38dce43b5d_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5808/21092850732_40ba3fecef_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5808/21092850732_40ba3fecef_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/651/20914840060_927fb736f8_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/651/20914840060_927fb736f8_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5807/21110630701_6d28ba3689_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5807/21110630701_6d28ba3689_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5648/20914839940_27361fe805_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5648/20914839940_27361fe805_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/570/21110631851_e13a2bcc06_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/570/21110631851_e13a2bcc06_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5642/20481853423_665cf083ab_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5642/20481853423_665cf083ab_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/745/20481853273_0815322e56_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/745/20481853273_0815322e56_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5732/21092849812_e67b9aa4e7_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5732/21092849812_e67b9aa4e7_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5694/21102915585_a93bcb7684_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5694/21102915585_a93bcb7684_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5641/21102915435_ec2457e6f2_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5641/21102915435_ec2457e6f2_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm6.staticflickr.com/5635/21110630891_b9fef831f7_b.jpg'}
      =image_tag('https://farm6.staticflickr.com/5635/21110630891_b9fef831f7_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/646/20916131709_c84d27f765_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/646/20916131709_c84d27f765_b.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox.darken{ rel: 'group', href: 'https://farm1.staticflickr.com/612/20915034928_4ab70d6518_b.jpg'}
      =image_tag('https://farm1.staticflickr.com/612/20915034928_4ab70d6518_b.jpg', class: 'img-responsive center-block', width: '100%')