.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: 'https://downloadr.flickr.com/dl/bfa6a4b9ee416de2ac01dededffc93cd92cc7f4d', target: 'blank', download: 'rachel_nesja_10_11_15' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/754/21918084690_ae5490096c_h.jpg', title: "1"}
      =image_tag('https://farm1.staticflickr.com/754/21918084690_ae5490096c_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5795/22080077136_e72e91a473_h.jpg', title: "2"}
      =image_tag('https://farm6.staticflickr.com/5795/22080077136_e72e91a473_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5695/21485134203_3bdd3a4ef5_h.jpg', title: "3"}
      =image_tag('https://farm6.staticflickr.com/5695/21485134203_3bdd3a4ef5_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm6.staticflickr.com/5722/22116327331_acc69c5f2b_h.jpg', title: "4"}
      =image_tag('https://farm6.staticflickr.com/5722/22116327331_acc69c5f2b_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/610/21918373038_355d0c0c61_h.jpg', title: "5"}
      =image_tag('https://farm1.staticflickr.com/610/21918373038_355d0c0c61_h.jpg', class: 'img-responsive center-block', width: '100%')
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: 'https://farm1.staticflickr.com/614/21919350749_bdbeb75337_h.jpg', title: "6"}
      =image_tag('https://farm1.staticflickr.com/614/21919350749_bdbeb75337_h.jpg', class: 'img-responsive center-block', width: '100%')