.row
  .col-md-12
    %a.send-button.big-bottom.pull-right{ href: '#', target: 'blank', download: '' }
      DOWNLOAD ALL
      %i.fa.fa-download
.row
  .col-md-4.grid
    %a.fancybox{ rel: 'group', href: '*flickr-link*'}
      =image_tag('*flickr-link*', class: 'img-responsive center-block', width: '100%')