/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
  height: 100% !important;
  padding-top: 25px;
 }

 iframe {
  border: 0px !important;
 }

 * {
  font-family: 'Raleway' !important;
  font-weight: 200;
 }

 .fa {
  font-family: FontAwesome !important;
 }

 .big-title {
  font-family: 'Roboto Slab' !important;
  color: #3498DB !important;
  transition: color 175ms ease-out;
  font-size: 10vw !important;
 }

 .big-title:hover {
  color: black !important;
  transition: color 175ms ease-out;
 }

 p {
  font-weight: 400 !important;
 }

 #wrapper {

 width:500px;
 height:500px;
 margin:0 auto;
 position:absolute;
 left:50%;
 top:50%;
 margin-left:-250px;
 margin-top:-250px;
 -webkit-animation-duration: 3s;
}

.title {
  font-size: 50px;
}

#slideshow {
    position: relative;
    margin: 50px auto;  
    width: 100%; 
}

#slideshow > div { 
    position: absolute;
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

a.darken {
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

a.darken:hover img {
    opacity: 0.7;

}

.thick-text {
  font-weight: 400px !important;
}
