// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #3498db;
$red: #FFB0B0;
$transparent: rgba(0,0,0,0.7);

.blue {
  color: $blue !important;
}

a {
  color: black !important;
  &:hover {
    color: $blue !important;
    text-decoration: none !important;
  }
  transition: color 175ms ease-out;
  &:active {
    color: $blue !important;
    text-decoration: none !important; 
  }
  &:visited {
    text-decoration: none !important;
  }
  &:link {
    text-decoration: none !important;
  }
}

.modern-button {
  padding: 12px;
  border: 2px solid black;
  border-radius: 15px;
  &:hover {
    border: 2px solid $blue !important;
  }
  transition: color 175ms ease-out;
}

.big-top {
  margin-top: 40px;
}

.header {
}

.pad-bottom {
  padding-bottom: 20px;
}

.blue-link {
  color: $blue !important;
  &:hover {
    color: black !important;
  }
}

.mainwrapper {
  background-color: white;
  min-height: 100% !important;
  margin: 0 auto -54px;
}

.footer, .push {
  bottom: 0px !important;
  height: 54px;
}

.footer {
  position: fixed;
  width: 100% !important;
  background-color: white;
  padding-top: 5px;
  .soc-links {
    letter-spacing: 25px;
    text-align: center;
    margin: 0px !important;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
}

.pad-for-footer {
  margin-bottom: 54px;
}

.navbar {
  background-color: $transparent !important;
  border: 0px !important;
  a {
    color: white !important;
    &:hover {
      color: $blue !important;
    }
    .blue {
      color: $blue !important;
      &:hover {
        color: white !important;
      }
    }
  }
  .fake {
    color: $blue !important;
    &:hover {
      color: $blue !important;
      cursor: default !important;
    }
  }
}

.changecolor:hover {
  background-color: darken(white, 10%) !important;
}

.pad-image {
  margin-bottom: 30px !important;
}

.border-blue {
  border: 7px solid $blue;
}

.thick-border-blue {
  border: 15px solid $blue;
}

.thick {
  font-weight: 400 !important;
}

a.disabled {
  color: $red !important;
  &:hover {
    cursor: default !important;
    color: $red !important;
  }
}

.big-top {
  margin-top: 50px;
}

.big-bottom {
  margin-bottom: 40px;
}

.disclaimer {
  padding: 7px;
  padding-left: 0px !important;
  color: $red;
}

.gray {
  color: #8C8C8C;
}

.grid {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.no-pad-left {
  padding-left: 0px !important;
}

.social-links > a {
  padding-right: 5px;
  padding-left: 5px;
}

.pad-bottom-small {
  padding-bottom: 30px;
}

.dropdown-menu {
  background-color: $transparent !important;
}

.photo-story-link{
  &:hover{
    background-color: darken(white, 30%) !important;
  }
}

ul {
  list-style: none;

  p {
    margin: 0px !important;
  }

  .thick-about {
    font-weight: 400 !important;
    color: $blue !important;
    &:hover {
      color: black !important;
    }
  }
}

.small-spacing {
  letter-spacing: -9px;
}

.orson {
  color: white !important;
}

.no-pad {
  padding-left: 0px !important;
}

.make-center {
  margin: 0px !important;
  padding: 28px !important;
  background-color: lighten(black, 20%);
  color: $blue !important;
  font-weight: 200 !important;
  margin-bottom: 3px !important;
}

.grid-pad {
  padding: 3px !important;
}

.lights-grid {
  padding-left: 3px;
  padding-right: 3px;
}

.transparent {
  background-color: rgba(256,256,256,0.7) !important;
}

.about-header {
  padding-left: 15px;
  margin-top: 0px !important;
  font-family: 'sf_orson_casual_lightregular' !important; 
  margin-bottom: 0px !important;
}

.push-down-from-top {
  margin-top: 55px !important;
}

.no-pad {
  margin: 0px !important;
  padding-left: 15px !important;
  margin-bottom: 5px !important;
}

.adjust-line {
  line-height: 23px !important;
}
