// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #3498db;

.blue {
  color: $blue !important;
}

a {
  color: black !important;
  &:hover {
    color: $blue !important;
    text-decoration: none;
  }
  transition: color 175ms ease-out;
  &:active {
    color: $blue !important;
    text-decoration: none; 
  }
}

.modern-button {
  padding: 12px;
  border: 2px solid black;
  border-radius: 15px;
  &:hover {
    border: 2px solid $blue !important;
  }
  transition: color 175ms ease-out;
}

.big-top {
  margin-top: 40px;
}

.header {
}

.pad-bottom {
  padding-bottom: 20px;
}

.blue-link {
  color: $blue !important;
  &:hover {
    color: black !important;
  }
}

.mainwrapper {
  background-color: white;
  min-height: 100% !important;
  margin: 0 auto -54px;
}

.footer, .push {
  bottom: 0px !important;
  height: 54px;
}

.footer {
  position: fixed;
  width: 100% !important;
  background-color: white;
  padding-top: 5px;
  .soc-links {
    letter-spacing: 25px;
    text-align: center;
    margin: 0px !important;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
}

.pad-for-footer {
  margin-bottom: 54px;
}

.navbar {
  background-color: white !important;
  border: 0px !important;
  a {
    color: black !important;
    &:hover {
      color: $blue !important;
    }
  }
}

.changecolor:hover {
  background-color: darken(white, 10%) !important;
}

.pad-image {
  margin-bottom: 30px !important;
}

.border-blue {
  border: 7px solid $blue;
}
