.push
.footer.clearfix
  .container-fluid.clearfix
    .container
      .row
        .col-md-6.col-md-offset-3.social-links.text-center
          %a.symbol{ href: 'https://www.facebook.com/intrepidvisuals', target: 'blank' } circlefacebook
          %a.symbol{ href: 'http://instagram.com/intrepidvisuals/', target: 'blank' } circleinstagram
          %a.symbol{ href: 'https://www.flickr.com/photos/130397051@N05/', target: 'blank' } circleflickr
          %a.symbol{ href: '/contact'} circleemail
            
