.push
.footer.clearfix
  .container-fluid.clearfix
    .container
      .row
        .col-md-12.col-xs-12.clearfix
          %p.soc-links.text-center
            %a.symbol.blue-link{ href: 'https://www.facebook.com/intrepidvisuals', target: 'blank' } circlefacebook
            %a.symbol.blue-link{ href: 'https://www.flickr.com/photos/130397051@N05/', target: 'blank' } circleflickr
            %a.symbol.blue-link{ href: 'http://instagram.com/intrepidvisuals/', target: 'blank' } circleinstagram
            %a.symbol.blue-link{ href: 'https://twitter.com/pcb213', target: 'blank' } circletwitterbird
            %a.symbol.blue-link{ href: '/contact'} circleemail