.push.transparent-full
.footer.clearfix.transparent-full
  .container-fluid.clearfix.transparent-full
    .container
      .row
        .col-md-6.col-md-offset-3.social-links.text-center
          %a.symbol.transparent-color{ href: 'https://www.facebook.com/intrepidvisuals', target: 'blank' } circlefacebook
          %a.symbol.transparent-color{ href: 'http://instagram.com/intrepidvisuals/', target: 'blank' } circleinstagram
          %a.symbol.transparent-color{ href: '/contact'} circleemail
            
