.container-fluid.header
  .row
    .col-md-12
      %a{ href: '/home' }
        =image_tag('intrepidvisuals_blue.png', width: '25%', class: 'center-block img-responsive animated bounceIn')
  .row.pad-bottom
    .col-md-3
      %h2.text-center.animated.bounceInLeft
        %a{ href: '/photo' } PHOTO
    .col-md-3
      %h2.text-center.animated.bounceInLeft
        %a{ href: '/video' } VIDEO
    .col-md-3
      %h2.text-center.animated.bounceInRight
        %a{ href: '/seniors' } SENIORS
    .col-md-3
      %h2.text-center.animated.bounceInRight
        %a.blue-link{ href: '/contact' } CONTACT