.container
  .row
    .col-md-12.pushup-for-header
      %a{ href: '/' }
        =image_tag('logo.png', width: '60%', class: 'img-responsive center-block')
    .col-md-12.pushdown
      %h4.text-center 
        %span.spread
          %a{ href: '/concerts' } CONCERTS
        %span.spread
          %a{ href: '/portraits' } PORTRAITS
        %span.spread
          %a{ href: '/video' } VIDEO
        %span.spread
          %a{ href: '/features' } FEATURES
        %span.spread
          %a{ href: '/about' } ABOUT
        %span.spread
          %a{ href: '/contact' } CONTACT
        %span.spread
          %a{ href: '/clients' } CLIENTS



   





    