!!!
%head
  %title Intrepid Visuals
  %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Raleway:400,200' }
  %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %script{ src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' }
  = csrf_meta_tags
%body.clearfix
  = yield